#alternative-logins.alternative-logins .button.register-button {
	color: var(--color-primary-text);
}

#alternative-logins.alternative-logins .button.register-button:focus {
	border: 2px solid #000;
	background-image: linear-gradient(40deg, #0082c9 0%, #30b6ff 100%);
	background-position: initial;
}

#alternative-logins .register-button:only-child {
	width: 260px;
	margin: 0 auto;
	box-sizing: border-box;
}

#alternative-logins .register-button.hidden {
	display: none;
}
