#alternative-logins .button.register-button {
	color: var(--color-primary-element);
}

#alternative-logins .register-button:only-child {
	width: 220px;
	margin: 0 auto;
}

#alternative-logins .register-button.hidden {
	display: none;
}
