#body-login #email,
#body-login #token,
#body-login #loginname,
#body-login #fullname,
#body-login #phone,
#body-login #password {
	width: calc(100% - 56px);
	padding-left: 36px;
}
#email-icon,
#token-icon,
#loginname-icon,
#fullname-icon,
#phone-icon,
#password-icon {
	position: absolute;
	left: 16px;
	top: 22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}
#email-icon {
	top: 27px;
}

input[type="submit"] {
	width: calc(100% - 10px) !important;
	white-space: normal;
}

.msg {
	color: white;
	margin: 5px;
}
.msg a {
	color: white;
	text-decoration: underline;
}

.error {
	margin-bottom: 15px;
}

.groupofone {
	position: relative;
}

.toggle-password {
	top: 22px !important;
}
