# SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
/.php-cs-fixer.cache
/.php_cs.cache
/build
/node_modules
/tests/clover.xml
/tests/coverage-html
/tests/.phpunit.result.cache
/tests/.phpunit.cache
/vendor
/vendor-bin/*/vendor
