<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 verbose="true"
		>
	<testsuite name='Registration app tests'>
		<directory suffix='Test.php'>Integration</directory>
		<directory suffix='Test.php'>Unit</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../../registration/appinfo</directory>
			<directory suffix=".php">../../registration/lib</directory>
		</whitelist>
	</filter>
</phpunit>
