<phpunit bootstrap="autoloader.php" colors="true">
	<testsuites>
		<testsuite name="unit">
			<directory>./unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>./integration</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
		</whitelist>
	</filter>
</phpunit>
